.text1{
    font-weight: 800;
    font-family: sans-serif;
}

.text2{
    font-weight: 800;
    font-family: sans-serif;
} 
h1{
    text-align: center;
    color: cadetblue;
}
h3{
    color:  black;
}
